* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #363542;
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: #2e2d38;
}

h1 {
    font-size: 50px;
}


main {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #cfcfcf;
}

a {
    text-decoration: none;
}
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #2e2d38;
    margin-top: 50px;
}

.profile-description {
    width: 750px;
    margin-top: 35px;
    font-size: 20px;
}

.profile-div {
    margin-top: 25px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

.navbar li a {
    display: block;
    color: #cfcfcf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: 0.25s;
}

.navbar a:hover {
    background-color: #24232c;
}

.navbar-active {
    background-color: #222025;
}

.navbar-active:hover {
    background-color: #24232c;
}

.navbar li {
    float: left;
    width: 25%;
    font-size: 20px;
}

footer {
    /* Add your styles for the footer here */
    width: 100%;
    height: 8%;
    background-color: #2e2d38;
    color: #cfcfcf;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-icons {
    width: 15px;
}

.footer-contatcs label {
    text-align: center;
}

.footer-links-logo {
    width: 50px;
}

.works-list li {
    list-style-type: none;
}

.works-list div {
    width: 15vw;
    height: 5vh;
    background-color: #2e2d38;
    color: #cfcfcf;
    border-radius: 0.5rem;
    margin-top: 15px;
    font-size: 1rem;
    padding: 5%;
}

.works-list div:hover {
    background-color: #24232c;
}



/* labs.html */

.lab_root{
    margin: 2%;
}

.lab_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    grid-auto-flow: dense;
    grid-gap: 1rem;
}

.lab_image {
    background-image: url("https://source.unsplash.com/random/401x401");
    /* background-image: "./image/[image.png]"; */
    border-radius: 0.5rem;
    height: 20vh;
    width: 15vw;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.486);
}

.lab_container h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.grid_container_lab{
    transition: 0.5s;
}

.grid_container_lab:hover{
   transform: scale(1.1);
    
}